<%= simple_form_for @booking do |f| %>
  <div class="form-group">
    <%= f.label :'Wybierz samochód' %>
    <%= f.association :car, label_method: :mark, collection: Car.where(access: true),  class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Imię %>
    <%= f.text_field :last_name %>
    <%= f.label :Nazwisko %>
    <%= f.text_field :first_name %>
    <%= f.label :Telefon %>
    <%= f.text_field :phone %>
    <%= f.label :'Adres e-mail' %>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :'Miejsce zamieszkania' %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Wyjazd %>
    <%= f.date_field :started_at, min: Date.today %>
    <%= f.label :Powrót %>
    <%= f.date_field :ended_at, min: Date.today %>
    <% if current_user %>
      <%= f.label :Potwierdzony %>
      <%= f.check_box :approved %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.submit 'Zapisz', class: "btn btn-primary" %>
  </div>
  <div class="form-group">
    <%= link_to 'Wróć', bookings_path, class: "btn btn-primary" %>
  </div>
<% end %>
