<h2>Wypożyczenia samochodów</h2>

<% @bookings.each do |booking| %>
  <div class="list-group-item-text">
    <h4>
      <%= "Klient: #{booking.first_name} #{booking.last_name}, Samochód: #{booking.car.mark} #{booking.car.model}" %>
    </h4>
  </div>
  <div class="list-group-item-text">
    <%= link_to 'Pokaż', booking_path(booking), class: "btn btn-xs btn-primary" %>
      <% if booking.approved %>
        <%= "Potwierdzony, wyjazd: #{booking.started_at}, powrót: #{booking.ended_at}" %>
      <% else %>
        <%= "wyjazd: #{booking.started_at}, powrót: #{booking.ended_at}" %>
        <%= link_to 'Zmień', edit_booking_path(booking), class: "btn btn-xs btn-primary" %>
      <% end %>
    <%= link_to 'Usuń', booking_path(booking),
        method: :delete, data: { confirm: "Jesteś pewien?" },class: "btn btn-xs btn-danger" %>
  </div>
<% end %>
<h3>
   <%= link_to 'Dodaj nowe wypożyczenie', new_booking_path%>
</h3>
<div class="form-group">
  <%= link_to 'Wróć', root_path, class: "btn btn-primary" %>
</div>
