<h2>Wypożyczenia</h2>

<h3>
   <%= link_to 'Dodaj nowe wypożyczenie', new_booking_path%>
</h3>
<% #-binding.pry%>
<% @bookings.each do |booking| %>
  <div class="list-group-item-text">
    <h4>
      <%= "Klient: #{booking.first_name} #{booking.last_name}" %>
    </h4>
  </div>
  <div class="list-group-item-text">
    <%= link_to 'Pokaż', booking_path(booking), class: "btn btn-xs btn-primary" %>
    <%= link_to 'Zmień', edit_booking_path(booking), class: "btn btn-xs btn-primary" %>
    <%= link_to 'Usuń', booking_path(booking),
        method: :delete, data: { confirm: "Jesteś pewien?" },class: "btn btn-xs btn-danger" %>
  </div>
<% end %>
<h3>
   <%= link_to 'Zatwierdź zamówienie klienta' %>
</h3>
