<%= form_for @car do |f| %>
<div class="field">
  <%= image_tag (@car.image_url(:thumb).to_s) %>
  <%= f.file_field :image %>
</div>
  <div class="form-group">
    <%= f.label :Marka %>
    <%= f.text_field :mark %>
    <%= f.label :Model %>
    <%= f.text_field :model %>
    <%= f.label :'Rodzaj paliwa' %>
    <%= f.text_field :fuel %>
    <%= f.label :Rocznik %>
    <%= f.number_field :year_prod %>
    <%= f.label :'Przebieg' %>
    <%= f.number_field :mileage %>
  </div>

  <div class="form-group">
    <%= f.label :'Opis' %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :Dostępny %>
    <%= f.check_box :access %>
  </div>

  <div class="form-group">
    <%= f.label :'Cena za dobę' %>
    <%= f.number_field :prince %>
    <%= f.label :'Limit dzienny' %>
    <%= f.number_field :limit %>
    <%= f.label :'Dopłata ponad limit' %>
    <%= f.number_field :supplement %>
  </div>

  <div class="form-group">
    <%= f.submit 'Zapisz', class: "btn btn-primary" %>
  </div>
  <div class="form-group">
    <%= link_to 'Wróć', cars_path, class: "btn btn-primary" %>
  </div>
<% end %>
