<h2>Samochody</h2>
<%= form_tag cars_path, method: :get do %>
  <div class="input-group">
    <%= text_field_tag :q, params[:q], class: "form-control" %>
    <span class="input-group-btn">
      <%= submit_tag "Szukaj", class: "btn btn-default" %>
    </span>
  </div>
<% end %>
<h4>
   <%= link_to 'Dodaj nowy samochód', new_car_path%>
</h4>
<% @cars.each do |car| %>
  <div class="list-group-item-text">
    <h5>
      <%= "Samochód: #{car.mark}, #{car.model}, Paliwo: #{car.fuel}, Cena: #{car.prince} za dobę" %>
    </h5>
  </div>
  <div class="list-group-item-text">
    <% if car.access == true %>
      <%= "Dostępny" %>
      <%= link_to 'Zarezerwuj', new_booking_path(car), class: "btn btn-xs btn-primary" %>
    <% else %>
      <%= "Niedostępny" %>
    <% end %>
    <%= link_to 'Pokaż', car_path(car), class: "btn btn-xs btn-primary" %>
    <%= link_to 'Zmień', edit_car_path(car), class: "btn btn-xs btn-primary" %>
    <%= link_to 'Usuń', car_path(car),
        method: :delete, data: { confirm: "Jesteś pewien?" },class: "btn btn-xs btn-danger" %>
  </div>
<% end %>
<h3>
</h3>
<div class="form-group">
  <%= link_to 'Wróć', root_path, class: "btn btn-primary" %>
</div>
