<!DOCTYPE html>
<html>
  <head>
    <title>Rent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <div class="alert alert-info">
      <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert danger">
      <%= alert %>
      </div>
    <% end %>
 </body>

  <% if user_signed_in? %>
    <li>
      <%= link_to('Wyloguj', destroy_user_session_path, method: :delete) %>
    </li>
    <% else %>
    <li>
      <%= link_to('Zaloguj', new_user_session_path)  %>
    </li>
  <% end %>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
